/target/
*/target/**
**/META-INF/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

/ui/dist/
/ui/bazel-out
/ui/integration/bazel/bazel-*
/ui/*.log
/ui/node_modules
/ui/pubspec.lock
/ui/.c9
/ui/.idea/
/ui/.devcontainer/*
/ui/!.devcontainer/README.md
/ui/!.devcontainer/recommended-devcontainer.json
/ui/!.devcontainer/recommended-Dockerfile
/ui/.settings/
/ui/.vscode/launch.json
/ui/.vscode/settings.json
/ui/.vscode/tasks.json
/ui/*.swo
/ui/*.swp
/ui/modules/.settings
/ui/modules/.vscode
/ui/.vimrc
/ui/.nvimrc
/ui/*secret.js
/ui/npm-debug.log
/ui/yarn-error.log
/ui/.build-analytics
/ui//modules/rollup-test/dist/
/ui/.bazelrc.user
/ui/.ng-dev.user*
/ui/.notes.md
/ui/baseline.json
