<div _ngcontent-ohh-c403="" class="col-md-4" style="margin-top: 100px">
  <nb-card _ngcontent-ohh-c403="" _nghost-ohh-c77="" class="size-medium">
    <nb-card-header _ngcontent-ohh-c403=""> General Information </nb-card-header>
    <nb-card-body _ngcontent-ohh-c403="">
      <h5>About</h5>
      <p _ngcontent-ohh-c403="">
        c14r is a tool that let's you visualize container image hierarchies.
        You start by typing an image you would like to analyze. To open all the nodes you can click on “expand all”.
        For further information about an image, you can click on it. c14r will show you all pushes done using that tag
        and the corresponding instructions.
      </p>
      <h5>Updates</h5>
      <ul _ngcontent-bjn-c328="" class="mb-5">
        <li _ngcontent-bjn-c328="">05/02/2021 - Added Autocompletion</li>
        <li _ngcontent-bjn-c328="">05/01/2021 - Added support for MCR</li>
        <li _ngcontent-bjn-c328="">04/17/2021 - Launch</li>
      </ul>
    </nb-card-body>
  </nb-card>
</div>
<div _ngcontent-ohh-c403="" class="col-md-4" style="margin-top: 100px">
  <nb-card _ngcontent-ohh-c403="" _nghost-ohh-c77="" class="size-medium">

    <nb-card-header _ngcontent-ohh-c403=""> Example 1: debian:bullseye</nb-card-header>
    <nb-card-body _ngcontent-ohh-c403="">
      <img src="assets/images/debian-screen.png" class="previewPicture" />
      <p class="exampleText">Bullseye is the development codename for Debian 11. Watch through the graph and observe
        how more and more images are using and testing the new debian version!</p>
      <button type="button" nbButton status="success" 
        (click)="loadExample(); ">Show me this example, please</button>
    </nb-card-body>
  </nb-card>
</div>
<div _ngcontent-ohh-c403="" class="col-md-4" style="margin-top: 100px">
  <nb-card _ngcontent-ohh-c403="" _nghost-ohh-c77="" class="size-medium">
    <nb-card-header _ngcontent-ohh-c403=""> Example 2: mcr.microsoft.com/dotnet/core/runtime-deps:latest
    </nb-card-header>
    <nb-card-body _ngcontent-ohh-c403="">
      <img src="assets/images/mcr-screen.png" class="previewPicture" />
      <p class="exampleText">A demonstration of MCR support. Not all images are supported yet.</p>
      <button type="button" nbButton status="success"
        (click)="loadExample2(); ">Show me this example, please</button>
    </nb-card-body>
  </nb-card>
</div>