$base-color: #00d68f;

.image-element {
  margin-top: -60px;
}

.arrow-up {
  border-color: transparent transparent #000;
  border-style: solid;
  border-width: 30px;
  width: 0px;
  margin-left: 190px;
  height: 0px;
}

.selected-image {
  color: $base-color;
  border-color: $base-color;
  border: 1px solid;
}


#visNetwork {
  height: 100%;
  position: fixed;
  left: 0px;
  right: 10px;
  top: 200px;
  outline: none;
  width: 100%;
  z-index: 0
}

nb-checkbox {
  margin-bottom: 1rem;
}

a {
  color: $base-color;
}

.header-container {
  font-size: 12px;
}

.example-mode-hidden {
  display: none;
}

@media all and (max-width: 640px) {
  #visNetwork {
    display: none;
  }
}

pre {
  color: white;
  font-size: 9pt;
  line-height: 100%;
  overflow-y: hidden;
}

.variant-detail {
  margin-bottom: 50px;
}

.details {
  margin-top: 80px;
  width: 400px;
  z-index: 50;
}