<div class="row">
  <div id="visNetwork" #visNetwork></div>
</div>

<infopanel [class.example-mode-hidden]="!exampleMode" class="row" (searchEvent)="onSearchImageEvent($event)">InfoPanel</infopanel>

<div class="details">
  <variants class="row variant-detail" [currentHash]="currentHash" (selectHashEvent)="viewHash($event)" (selectTagEvent)="viewTag($event)" [slimMode]="slimMode" [detailDataTagsFull]="detailDataTagsFull" [detailDataTags]="detailDataTags" [hashes]="hashes"></variants>
  <div class="row image-element" *ngFor="let img of imageTree; let first=first;">    
    <div [class.arrow-up]="!first"></div>
    <div class="col-md-12">      
      <layer [img]="img[0]"></layer>
    </div>
  </div>
</div>

<searchbar [api]="api" (expandAllEvent)="expandAll()" (newSearchEvent)="onNewSearchImageEvent($event)">Searchbar</searchbar>