.variants {
  margin-top: 80px;
  width: 400px;
  z-index: 50;
}

pre {
  color: white;
  font-size: 9pt;
  line-height: 100%;
  overflow-y: hidden;
}

.variant-detail {
  margin-bottom: 50px;
}


.imageVariant {
  float: left;
  padding: 2px;
}